body {
  background-color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main-page {
  padding-top: 10vh;
}

.video-wrapper {
  width: 100%;
}

.video-desktop {
  overflow: hidden;
  padding-bottom: 41.667%;
  position: relative;
}

video {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
